version: v2
managed:
  enabled: true
  disable:
    - file_option: java_package
    - file_option: java_outer_classname
    - file_option: java_multiple_files
    - file_option: java_string_check_utf8
    - file_option: objc_class_prefix
    - file_option: csharp_namespace
    - file_option: php_namespace
    - file_option: php_metadata_namespace
    - file_option: ruby_package
    - file_option: optimize_for
    - file_option: cc_enable_arenas
  override:
    - file_option: go_package
      path: push_ws.proto
      value: @GO_PACKAGE_PREFIX@/pushws;pushwsv1
      module: buf.build/serverlessinbox/mailbox-idl-push-ws
plugins:
  - local: protoc-gen-go
    out: .
    opt:
      - module=@GO_MODULE_TRIM@
