# buf.gen.go.httpclient.yaml.tmpl - Go HTTP client generation (from protobuf)
version: v2
managed:
  enabled: true
  disable:
    - file_option: java_package
    - file_option: java_outer_classname
    - file_option: java_multiple_files
    - file_option: java_string_check_utf8
    - file_option: objc_class_prefix
    - file_option: csharp_namespace
    - file_option: php_namespace
    - file_option: php_metadata_namespace
    - file_option: ruby_package
    - file_option: optimize_for
    - file_option: cc_enable_arenas
  override:
    - file_option: go_package
      path: aliases.proto
      value: @GO_PACKAGE_PREFIX@/aliases;aliasesv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: audit.proto
      value: @GO_PACKAGE_PREFIX@/audit;auditv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: change_requests.proto
      value: @GO_PACKAGE_PREFIX@/ops;opsv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: common.proto
      value: @GO_PACKAGE_PREFIX@/common;commonv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: domains.proto
      value: @GO_PACKAGE_PREFIX@/domains;domainsv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: email_identities.proto
      value: @GO_PACKAGE_PREFIX@/email_identities;email_identitiesv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: groups.proto
      value: @GO_PACKAGE_PREFIX@/groups;groupsv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: idp_users.proto
      value: @GO_PACKAGE_PREFIX@/idp_users;idp_usersv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: mail_feedback.proto
      value: @GO_PACKAGE_PREFIX@/mail_feedback;mail_feedbackv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: monitoring.proto
      value: @GO_PACKAGE_PREFIX@/monitoring;monitoringv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: resource_accounts.proto
      value: @GO_PACKAGE_PREFIX@/resource_accounts;resourceaccountsv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: setup.proto
      value: @GO_PACKAGE_PREFIX@/setup;setupv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: stack_update.proto
      value: @GO_PACKAGE_PREFIX@/stack_update;stackupdatev1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: status.proto
      value: @GO_PACKAGE_PREFIX@/status;statusv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: support.proto
      value: @GO_PACKAGE_PREFIX@/support;supportv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: suppression.proto
      value: @GO_PACKAGE_PREFIX@/suppression;suppressionv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
    - file_option: go_package
      path: users.proto
      value: @GO_PACKAGE_PREFIX@/users;usersv1
      module: buf.build/serverlessinbox/mailbox-idl-admin-api
plugins:
  - local: ["tools/protoc-gen-go-http-client/protoc-gen-go-http-client"]
    out: .
    opt:
      - client_mode=external
      - client_package=@CLIENT_PACKAGE@
      - client_filename=@CLIENT_FILENAME@
      - compound_client=@COMPOUND_CLIENT@
      - compound_client_filename=@COMPOUND_CLIENT_FILENAME@
